<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Briqueterie Slaoui</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="/public/js/scripts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body> 
    <section id="header">
      <a href="#">
        <img src="/public/img/logo.png" class="logo">
      </a>
      <div>
        <ul id="navbar">
          <li>
            <a href="index.ejs">Accueil</a>
          </li>
          <li>
            <a href="shop.ejs">Produits</a>
          </li>
          <li>
            <a href="about.ejs">A propos</a>
          </li>
          <li>
            <a class="active" href="cart.ejs">Panier</a>
          </li>
        </ul>
      </div>
    </section>
    <section id="cart" class="section-p1">
      <table width="100%">
        <thead>
          <tr>
            <td></td>
            <td>Image</td>
            <td>Produit</td>
            <td>Prix</td>
            <td>Quantité</td>
            <td>Total</td>
          </tr>
        </thead>
        <tbody class="cart-content">
          <% cart.forEach(function(item) { %>
          <tr> 
            <td><a></a></td>
            <td><img src="/public/img/<%= item.image %>"></td>
            <td><%= item.name %></td>
            <td><%= item.price %>dh</td>
            <td>
              <form method="post" action="/edit_product_quantity">
                <input type="hidden" value="<%= item.id %>" name="id">
                <input class="crease" type="submit" value="-" name="decrease_product_quantity">
                <input class="cart-items" name="quantity" type="text" value="<%= item.quantity %>" readonly>
                <input class="crease" type="submit" value="+" name="increase_product_quantity">
              </form>
            </td>
            <td><%= tofixed(item.price*item.quantity , 2) %>dh</td>
          </tr>

        
        </tbody>
        <% }) %>
      </table>
      
    </section>
     <section id="cart-add" class="sectio-p1">
      <div id="total">
        <h3>TOTAL</h3>
        <table>
          <tr>
            <td><strong>Total</strong></td>
            <td><strong><%= total %>dh</strong></td>
          </tr>
        </table>
        <form method="get" action="checkout.ejs">
          <input type="submit" class="proceed_to_checkout" value="Passer à la caisse">
        </form>
      </div>
     </section>
    <footer class="section-p1">
      <div class="col">
        <img class="logo" src="/public/img/logo-white-12.png">
      </div>
      <div>
        <h4>Contact</h4>
        <p><strong>Adresse:</strong> Route De Meknes – Oulja, Salé B.P 260 Rabat</p>
        <p><strong>Service client:</strong> +212 660 048 825 / +212 663 555 990</p>
        <p><strong>Email:</strong> contact@briqueterieslaoui.ma</p>
      </div>
    </footer>
  </body>
</html>